

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-grid.css" />
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-reboot.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <div id="wrapper" class="container-fluid">
            <div class="row">
                <div id="left-side" class="col-sm-3">
                    <nav id="sidebar">
                        <div id="logo"> <img src="/img/inventory.png" alt="my logo" /></div>
                        <div class="intro">
                            <h2>Inventory Manager</h2>
                        </div>
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li><a href="/form">Form</a></li>
                            <li><a href="/product">Product Details</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="right-side" class="col-sm-9">
                    <div class="row">
                        <div class="col-12 align-self-end">
                            <section class="row top-bar justify-content-end align-items-center">
                                <input class="search-box" placeholder="  Search..." type=""/>
                                <img class="magnifying-glass" src="/img/magnifying-glass.jpeg" />
                                <a class="login-link" href="https://www.google.com" target="_blank">Login</a>
                                <img class="user-img" src="/img/user.png"/>
                            </section>
                        </div>
                    </div>
                    <div class="row table-card">
                        <div class="col-12 align-self-end">
                            <div class="card row justify-content-end bg-light border-secondary">
                                <h3 class="card-header text-center"><strong>Product Table</strong></h3>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Manufacturer</th>
                                                    <th scope="col">Model</th>
                                                    <th scope="col">SKU</th>
                                                    <th scope="col">MPG</th>
                                                </tr>
                                            </thead> 
                                            
                                            <tbody>
                                                <tr>
                                                    <td>Chevrolet</td>
                                                    <td>Silverado</td>
                                                    <td>ley381</td>
                                                    <td>22</td>
                                                </tr>

                                                <tr>
                                                    <td>Ford</td>
                                                    <td>Escape</td>
                                                    <td>llw746</td>
                                                    <td>31</td>
                                                </tr>

                                                <tr>
                                                    <td>Ford</td>
                                                    <td>Mustang</td>
                                                    <td>jgh758</td>
                                                    <td>28</td>
                                                </tr>
                                                <tr>
                                                    <td>Kia</td>
                                                    <td>Optima</td>
                                                    <td>lmot859</td>
                                                    <td>38</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <script src="./bootstrap/js/bootstrap.js"></script>
        <script src="./bootstrap/js/bootstrap.bundle.js"></script>
        <script src="./bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>